/* Media Queries============================ */

@media(max-width:1199px) {
    .how-we-do-inner {
        margin-top: 0;
    }
    .how-we-do .home-product .product-bottom img {
        max-width: 100%;
    }
    .how-does-it-works .work-process {
        display: block;
    }
    .how-does-it-works .top {
        display: none;
    }
    /* media page================ */
    .media-post-content h2 {
        font-size: 25px;
    }
}

@media(max-width:991px) {
    .how-we-do-inner {
        padding-top: 100px;
    }
    .solutions-inner .solution-box img:nth-child(1) {
        width: 100%;
    }
    .how-we-do::after {
        bottom: -135px;
    }
    /* media page================ */
    .media-post-content h2 {
        font-size: 18px;
    }
    .date-publisher p {
        font-size: 14px !important;
    }
}


/* small devices============== */

@media(max-width:767px) {
    body {
        font-size: 14px;
        line-height: 22px;
    }
    h1 {
        font-size: 30px;
        margin-bottom: 25px;
    }
    h2 {
        font-size: 25px;
    }
    h3 {
        font-size: 20px;
    }
    h2.title span {
        display: inline-block;
        padding-bottom: 20px;
    }
    h2.title span:after {
        top: auto;
        bottom: 0;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        width: 50px;
        height: 4px;
    }
    /* main styling */
    header {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }
    header .header-inner {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 10px 0;
    }
    header .header-inner .logo {
        max-width: 125px;
    }
    header .header-inner .logo a {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    header .menu-toggle {
        display: inline-block;
        max-width: 30px;
        cursor: pointer;
    }
    .primary-menu {
        position: fixed;
        top: 0;
        left: -100%;
        height: 100vh;
        width: 100%;
        background-color: #40a526;
        z-index: 99999999999;
        -webkit-transition: all 300ms ease-in;
        -o-transition: all 300ms ease-in;
        transition: all 300ms ease-in;
    }
    .primary-menu.active {
        left: 0;
    }
    .primary-menu .menu-close {
        position: absolute;
        top: 20px;
        right: 20px;
    }
    .primary-menu ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        height: 100%;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .primary-menu ul li {
        padding: 30px;
    }
    .primary-menu ul li a {
        font-size: 30px;
    }
    /* home page ============================= */
    .banner {
        min-height: 400px;
        background: url('../images/banner.png') no-repeat center;
        background-size: 100% 100%;
        padding-top: 100px;
        max-height: 500px;
        background-color: #f4f4f4;
    }
    .banner .owl-theme .owl-nav {
        top: calc(50% - 100px);
    }
    .banner-item img {
        margin-top: 40px;
    }
    .banner-item {
        max-width: 80%;
        margin: 0 auto;
    }
    .what-we-do {
        text-align: left;
    }
    .what-we-do .what-we-do-content {
        max-width: 80%;
        padding: 30px;
        position: relative;
        padding-bottom: 60px;
        top: 80px;
        z-index: 9;
        -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .3);
        box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    }
    .what-we-do-content .btn-play {
        position: absolute;
        top: auto;
        bottom: -37px;
        left: calc(50% - 29px);
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    .how-we-do-inner {
        margin-top: 0;
        padding-bottom: 200px;
    }
    .how-we-do::after {
        position: absolute;
        content: "";
        bottom: -100px;
        left: 0;
        width: 100%;
        height: 200px;
        background: url(../images/grey-bg-end-Home-Desktop-Website-GC.png) no-repeat;
        background-size: cover;
    }
    .how-we-do .home-products {
        margin-top: 50px;
    }
    .how-we-do .home-product {
        margin-bottom: 20px;
    }
    .how-we-do .home-product .product-bottom img {
        max-width: 80%;
    }
    .how-we-do .home-product .product-bottom {
        padding: 5px 10px;
    }
    .how-we-do .home-product.red .product-bottom img,
    .how-we-do .home-product.blue .product-bottom img {
        max-width: 60%;
    }
    .how-we-do .home-products .home-product h4 {
        font-size: 14px;
    }
    .how-does-it-works {
        background: url('../images/phone-parallax-bg-Home-Desktop-Website-GC.png') no-repeat center;
        background-size: cover;
        background-position: bottom;
        /* background-size: 100% auto;
    background-position: top; */
        background-attachment: fixed;
    }
    .how-does-it-works .how-does-it-works-content {
        max-width: 80%;
    }
    .how-does-it-works .bottom {
        background-color: rgba(61, 169, 53, 0.95s);
        color: #ffffff;
        padding: 30px;
        border-radius: 15px;
        position: relative;
        top: 150px;
    }
    .how-does-it-works .bottom .title {
        margin-bottom: 0;
        text-align: left;
        margin-bottom: 20px;
    }
    .how-does-it-works .bottom h2.title span:after {
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
    }
    .how-does-it-works .bottom p {
        margin-bottom: 15px;
    }
    .how-does-it-works .bottom .action {
        text-align: left;
    }
    .our-partners {
        padding-top: 250px;
    }
    .our-partners .title-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        max-width: 80%;
        margin: 0 auto;
    }
    .our-partners .title-wrapper .title {
        margin-bottom: 20px;
        text-align: left;
    }
    .our-partners .title-wrapper .title+p {
        max-width: 100%;
    }
    .our-partners .title-wrapper .title span {
        margin-right: 0px;
        padding-right: 0px;
    }
    .our-partners .title-wrapper .title span:after {
        right: auto;
        left: 0;
        height: 4px;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
    }
    .our-partners .title-wrapper p {
        margin-bottom: 0;
        font-weight: 600;
    }
    .our-partners ul {
        list-style: none;
    }
    .our-partners .partners-list {
        margin: 40px 0;
    }
    .our-partners .partners-list img {
        max-width: 180px;
    }
    .company-stats {
        background: url(../images/stats-banner-mobile.png) no-repeat center;
        background-size: cover;
        padding: 50px 0 160px;
        position: relative;
        z-index: 99;
    }
    .company-stats .row .col-md-3:first-child .stats-box,
    .company-stats .row .col-md-3:nth-child(4) .stats-box {
        padding-top: 0px;
    }
    .company-stats .stats-box {
        text-align: center;
        margin-bottom: 20px;
    }
    .company-stats .stats-box img {
        margin-bottom: 10px;
        max-width: 50px;
    }
    .company-stats .stats-box {
        font-style: italic;
        font-weight: 600;
        color: rgba(255, 255, 225, .8);
    }
    .home-contact {
        position: relative;
        margin-top: -150px;
        padding-top: 125px;
        padding-bottom: 75px;
    }
    .home-contact:after,
    .home-contact::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .home-contact::before {
        background: url(../images/contact-us-green-texture-parallax-Home-Desktop-Website-GC.png) no-repeat;
        background-position: left top;
        background-size: 150px auto;
    }
    .home-contact:after {
        background: url(../images/contact-us-green-texture-parallax-right-Home-Desktop-Website-GC.png) no-repeat;
        background-position: right bottom;
        background-size: 200px;
    }
    .home-contact .form-wrapper {
        padding: 40px 0;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        max-width: 100%;
    }
    .home-contact .form-wrapper .form-control {
        border: 1px solid #cccccc;
        border-radius: 5px;
        padding-left: 5px;
        font-size: 16px;
    }
    .home-contact .form-wrapper .form-left {
        border-right: 0;
        padding: 0 20px 0 20px;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .home-contact .form-wrapper .form-left .captcha {
        display: none;
    }
    .home-contact .form-wrapper .form-left .title {
        text-align: left;
    }
    .home-contact .form-wrapper .form-left .title span {
        padding-bottom: 15px;
    }
    .home-contact .form-wrapper .form-left .title span:after {
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
    }
    .home-contact .form-wrapper .form-right {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .home-contact .form-wrapper .form-right .form-group {
        padding: 20px;
    }
    .home-contact .form-wrapper .form-right .form-control {
        border: 1px solid #cccccc;
        border-radius: 5px;
        padding-left: 5px;
        max-height: 200px;
        font-size: 16px;
    }
    .home-contact .form-wrapper .form-right .action {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 0 20px;
    }
    .home-contact .form-wrapper .form-right .action .captcha {
        height: 100%;
        margin-right: 10px;
        max-width: 50%;
        display: block;
    }
    .home-contact .form-wrapper .form-right .btn {
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 600;
        max-width: 50%;
        padding: 5px 10px;
        border-radius: 5px !important;
        font-size: 14px;
    }
    footer {
        padding: 40px 0;
        background: url('../images/footer-bg-Home-Desktop-Website-GC.png') no-repeat center;
        background-size: cover;
        color: #ffffff;
        font-size: 13px;
    }
    footer .footer-logo {
        max-width: 50%;
    }
    footer .container {
        max-width: 100%;
    }
    footer .footer-top-left {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        border-bottom: 1px solid #ffffff;
    }
    footer .footer-top-left p {
        line-height: 1.5;
    }
    footer .footer-top-left .tel {
        font-size: 14px;
        letter-spacing: 1px;
        margin-bottom: 5px;
    }
    footer .footer-top-left .tel img {
        margin-right: 10px;
    }
    footer .footer-top-right {
        padding-top: 20px;
        border-bottom: 1px solid #ffffff;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    footer .social-media ul {
        margin-top: 20px;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    footer .social-media ul li {
        margin-right: 10px;
    }
    .banner-2 {
        height: auto;
    }
    .container-inner {
        max-width: 90%;
    }
    .banner-content h1 {
        font-size: 35px;
    }
    .mobile-hide {
        display: none;
    }
    .banner-next:after {
        content: none;
    }
    /* solutions page ================================ */
    .banner-solution {
        background-image: url(../images/solutions/mob-solution-banner.png) !important;
    }
    .problem {
        padding-bottom: 0;
    }
    .problem-bottom-bg {
        background-color: #ffffff;
        margin-top: 50px;
        position: relative;
    }
    .problem h2 {
        text-align: center !important;
    }
    .problem h2.title.bottom span:after {
        left: 50%;
    }
    .problem h2.title+p {
        max-width: 100%;
        color: #ffffff;
        margin-bottom: 50px;
        font-size: 18px;
        text-align: center;
    }
    .problem .problem-list .col-md-4 {
        padding-left: 5px;
        padding-right: 5px;
    }
    .problem .problem-list .owl-nav {
        font-size: 45px;
        color: #ffffff;
        display: flex;
        justify-content: space-between;
        max-width: 150px;
        margin: 0 auto;
    }
    .problem .problem-box h5 {
        font-size: 14px;
    }
    .problem .problem-box .overlay {
        font-size: 12px;
    }
    .solutions-main {
        background-color: #ffffff;
    }
    .solutions-main h2.title {
        text-align: center !important;
    }
    h2.title.orange span:after {
        left: 50%;
    }
    .solutions-inner .solution-box {
        max-width: 75%;
        margin: 0 auto;
        margin-bottom: 50px;
    }
    .how-does-it-works-2 {
        background: #ffffff;
        padding: 0;
    }
    .how-does-it-works-2:after {
        content: none;
    }
    .how-does-it-works-2 .work-process {
        margin-top: 0;
        border-radius: 0;
    }
    .benefits {
        background: url(../images/solutions/bg-shape-2.png) no-repeat;
        background-color: transparent;
        background-size: 100% 100%;
        position: relative;
        top: -150px;
        padding-top: 200px;
        padding-bottom: 150px;
    }
    .benefits .title {
        max-width: 90%;
    }
    .benefits+.home-contact {
        margin-top: -300px;
        margin-top: -300px;
        padding-top: 225px;
    }
    /* buyers page===================== */
    .buyers-challenges {
        padding: 40px 0;
        position: relative;
        background: url(../images/texture-1.png) no-repeat left center;
        background-size: 35% 55%;
        background-attachment: fixed;
    }
    .buyers-challenges .buyers-challenges-inner {
        flex-direction: column;
    }
    .buyers-challenges .buyers-challenges-inner .left {
        border-right: 0;
        text-align: left;
    }
    .buyers-challenges .buyers-challenges-inner .left-inner {
        max-width: 250px;
        display: flex;
        position: relative;
        margin: 0 auto;
        display: flex;
        position: relative;
        align-items: center;
        padding-bottom: 20px;
    }
    .buyers-challenges .buyers-challenges-inner .left-inner:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 100%;
        max-width: 75%;
        height: 1px;
        background-color: #000000;
        transform: translateX(-50%);
    }
    .buyers-challenges .buyers-challenges-inner .left-inner img {
        max-width: 75px;
        margin-right: 20px;
    }
    .buyers-challenges .buyers-challenges-inner .left-inner h2 {
        margin-bottom: 0;
    }
    .buyers-challenges .buyers-challenges-inner .right {
        padding: 20px;
    }
    .buyers-challenges .buyers-challenges-inner .right li {
        margin-bottom: 10px;
    }
    .benefits.buyers-benefits {
        background: none;
        background-color: #ffffff;
        top: 0;
        padding: 50px 0;
    }
    .product-details {
        padding-bottom: 0;
    }
    .product-details-inner {
        background-image: url(../images/buyers/earth-img-mobile.png);
        background-color: #f4f4f4;
        background-size: 100%;
    }
    .product-details .action {
        margin-top: 0;
        background: #f4f4f4;
        padding-bottom: 25px;
    }
    .product-details .action .btn {
        max-width: 90%;
    }
    .product-details+.bottom-img-shape {
        position: relative;
        z-index: 99;
    }
    .product-details~.home-contact {
        margin-top: -75px;
    }
    .product-details .action .btn {
        font-size: 13px;
    }
    /* producer page ======================= */
    .producer-buyers-challenges {
        margin-top: 0;
        padding-top: 50px;
    }
    /* products page======================== */
    .main-product-info .logo-img,
    .main-product-info .display-img {
        display: none;
    }
    .main-product-info .container {
        max-width: 90%;
    }
    .main-product-info {
        text-align: justify;
    }
    .product-trumodity {
        background-color: #f4f4f4;
    }
    .product-silosys .left {
        padding-left: 0;
    }
    .product-harvx {
        background-color: #f4f4f4;
    }
    .product-harvx .bottom-cta-btn {
        display: none;
    }
    .product-harvx+img {
        position: relative;
        z-index: 99;
    }
    .main-product-info .action {
        text-align: center;
        margin-top: 75px;
    }
    .banner-content p {
        max-width: 80%;
    }
    .banner-floating {
        top: -8vh;
    }
    .main-product-info.product-seed-audit {
        margin-top: -40px;
    }
    .product-harvx {
        position: relative;
        z-index: 999;
    }
    .main-product-info~.home-contact {
        margin-top: -80px;
    }
    .product-harvx .action {
        margin-bottom: -100px;
    }
    /* career page==================== */
    .career-innovative-team .innovative-team-content {
        align-items: center;
    }
    .innovative-team-content h2.title+p {
        max-width: 100%;
        text-align: center;
    }
    .innovative-team-content .learn-more-tab-wrapper {
        text-align: center;
    }
    .innovative-team-content .learn-more-tab-wrapper ul {
        align-items: center;
        margin-top: 40px;
    }
    .innovative-team-content .learn-more-tab-wrapper ul li {
        margin-right: 10px;
    }
    .innovative-team-content .learn-more-tab-wrapper ul li:last-child {
        margin-right: 0px;
    }
    .innovative-team-content .learn-more-tab-wrapper ul li a {
        border: 1px solid #40a526;
        border-radius: 10px;
        font-size: 16px;
        padding: 5px;
    }
    .innovative-team-content .learn-more-tab-wrapper ul li:hover a {
        background-color: #40a526;
        color: #ffffff;
    }
    .current-openings {
        padding: 50px 0;
        background-color: #f4f4f4;
    }
    .openings-list .opening-box {
        flex-direction: column;
        align-items: center;
        padding: 30px 0;
    }
    .opening-box .opening-content {
        margin-top: 15px;
        padding-left: 0;
        font-size: 18px;
        text-align: center;
    }
    .current-openings+.img-fluid+.home-contact {
        margin-top: -200px;
    }
    .current-openings+.img-fluid+.home-contact::before {
        content: none;
    }
    /* blockchain========================== */
    .why-blockchain {
        flex-wrap: wrap;
        padding: 50px 0;
        margin-bottom: -200px;
    }
    .why-blockchain-img {
        flex: 0 0 100%;
        max-width: 100%;
        order: 1;
        text-align: right;
        margin-top: -200px;
        margin-bottom: 60px;
    }
    .why-blockchain-img img {
        max-width: 50%;
    }
    .why-blockchain-content {
        flex: 0 0 100%;
        max-width: 80%;
        order: 2;
        border-radius: 20px;
        padding: 30px;
        box-shadow: 0 0 5px rgba(0, 0, 0, .3);
        margin: 0 auto;
        font-size: 16px;
        position: relative;
        z-index: 99;
        background: #ffffff;
    }
    .why-blockchain-content h2.title,
    .blockchain-contracts-content .title {
        text-align: center !important;
        margin-bottom: 40px;
    }
    .why-blockchain-content h2.title.bottom span:after,
    .blockchain-contracts-content .title span:after {
        left: 50% !important;
    }
    .blockchain-contracts {
        background-color: #f4f4f4;
        position: relative;
        padding-top: 150px;
    }
    .blockchain-contracts-content .title+p {
        max-width: 80%;
        margin: 0 auto;
        font-size: 16px;
    }
    .blockchain-technology {
        padding: 50px 0;
        background-color: #f4f4f4;
    }
    .blockchain-technology .title {
        text-align: center !important;
    }
    .blockchain-technology .container-inner {
        max-width: 80%;
        margin: 0 auto;
        background-color: #ffffff;
        border-radius: 20px;
        box-shadow: 0 0 5px rgba(0, 0, 0, .3);
        padding: 30px;
        margin-bottom: -200px;
        position: relative;
        z-index: 999;
    }
    .blockchain-technology-flow-mobile {
        max-width: 80%;
        margin: 0 auto;
    }
    .blockchain-benefits {
        padding-top: 30px;
    }
    .blockchain-benefits .title {
        text-align: center !important;
    }
    .blockchain-technology~img.green-top {
        margin-top: 200px;
    }
    .blockchain-benefits {}
    .blockchain-benefits+img.green-bottom+.home-contact {
        padding-top: 0;
        margin-top: -100px;
    }
    /* media page============================= */
    .media-releases {
        padding: 50px 0;
    }
    .about-grainchain-inc {
        padding: 50px 0;
    }
    .media-kit-download h2.title+p {
        max-width: 75%;
    }
    .media-kit-download+.img-fluid+.home-contact {
        margin-top: -150px;
        padding-top: 0;
    }
    .media-post-content h2{
        font-size: 16px;
    }
    .date-publisher p{
        font-size:12px !important;
    }
}

@media(min-width:768px) {
    .desktop-hide {
        display: none !important;
    }
}


/* extra small devices ======================= */

@media(max-width:479px) {
    .banner-content h1 {
        font-size: 30px;
    }
    .banner {
        max-height: 400px;
    }
    .banner-item {
        max-width: 100%;
    }
    .banner-content p {
        max-width: 100%;
    }
    .banner-item img {
        margin-top: 40px;
    }
    .what-we-do .what-we-do-content {
        max-width: 90%;
    }
    footer .footer-top-right .footer-menu-box {
        padding: 0 5px;
    }
    .how-does-it-works .how-does-it-works-content {
        max-width: 90%;
    }
    .how-we-do .home-products .home-product h4 {
        font-size: 12px;
    }
    .how-we-do .home-product .product-bottom img {
        max-width: 90%;
    }
    .how-we-do .home-product.red .product-bottom img,
    .how-we-do .home-product.blue .product-bottom img {
        max-width: 75%;
    }
    .how-we-do-inner {
        padding-top: 125px;
    }
    /* solutions=============== */
    .banner-2 {
        background-size: cover;
        background-position: right;
    }
    .problem h2.title+p {
        font-size: 16px;
    }
    .solutions-inner .solution-box {
        max-width: 86%;
    }
    .benefits-box {
        padding: 10px;
    }
    .benefits-box .content-holder {
        flex: 0 0 60%;
        max-width: 60%
    }
    .benefits-box .content-holder {
        font-size: 14px;
    }
    .benefits-box .icon-holder {
        flex: 0 0 12%;
        max-width: 12%;
    }
    .benefits-box .icon-holder img {
        width: 25px;
        height: 25px;
    }
    /* buyers======================== */
    .buyers-challenges .buyers-challenges-inner {
        max-width: 100%;
        padding: 15px;
    }
    .buyers-challenges .buyers-challenges-inner .left {
        padding: 0;
    }
    .buyers-challenges .buyers-challenges-inner .right {
        padding: 20px 0;
    }
    .benefits-content {
        padding: 20px 15px;
    }
    .product-details .action .btn,
    .bottom-cta-btn {
        font-size: 11px;
    }
    .product-details .action .btn img,
    .bottom-cta-btn img {
        flex: 0 0 30px;
        max-width: 30px;
    }
    .problem .problem-box .overlay {
        font-size: 14px;
    }
    .problem .problem-box h5 {
        font-size: 16px;
    }
    /* blockchain========================= */
    .why-blockchain-content {
        max-width: 90%;
        font-size: 14px;
    }
    .blockchain-contracts-content .title+p {
        font-size: 14px;
        max-width: 100%;
    }
    .blockchain-technology .container-inner {
        max-width: 90%
    }
    .why-blockchain-img {
        margin-top: -160px;
    }
    /* media page============================= */
    .media-kit-download h2.title+p {
        max-width: 100%;
    }
    .media-tabs-content .row{
        margin-left: 5px;
        margin-right: 5px;
    }
    .media-tabs-content .row [class*="col"]{
        padding-left: 5px;
        padding-right: 5px;
        flex:0 0 100%;
        max-width: 100% !important;
    }
    .media-releases .media-post{
        max-width: 275px;
        margin: 0 auto;
        margin-bottom: 20px;
    }
}