/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

/* General CSS */

* {
    transition: all 200ms ease-in;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    line-height: 26px;
    background: #ffffff;
    color: #494949;
}

.container {
    max-width: 1300px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    line-height: 1.2;
}

h1 {
    font-size: 55px;
    margin-bottom: 30px;
}

h2 {
    font-size: 30px;
}

h2.title {
    text-align: center;
    margin-bottom: 20px;
}

h2.title span {
    display: inline-block;
    position: relative;
}

h2.title span:after {
    position: absolute;
    content: "";
    top: 0;
    left: -20px;
    width: 4px;
    height: 100%;
    background: #3DA935;
}

h2.title+p {
    font-weight: 600;
    max-width: 80%;
    margin: 0 auto;
}

.btn-primary {
    color: #ffffff;
    background: #3DA935;
    border-color: #3DA935;
}

.btn-primary:hover {
    color: #3DA935;
    border-color: #3DA935;
    background-color: #ffffff;
}


/* main styling */

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

header .header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

header .header-inner .logo {
    max-width: 150px;
    display: inline-block;
}

header .menu-toggle {
    display: none;
}

.primary-menu ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}

.primary-menu ul li {
    padding: 10px 20px;
}

.primary-menu ul li a {
    color: #ffffff;
    position: relative;
    text-decoration: none !important;
}

.primary-menu ul li a:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 0px;
    height: 3px;
    background: #ffffff;
    transition: all 300ms ease-in;
}

.primary-menu ul li a:hover:after {
    width: 100%;
}

.banner {
    min-height: 500px;
    background: url('../images/banner.png') no-repeat center;
    background-size: cover;
    padding-top: 150px;
    max-height: 690px;
    background-color: #f4f4f4;
}

.banner-item {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}

.banner-item .btn {
    background-color: transparent;
    color: #ffffff;
    border-color: #ffffff;
}

.banner-item .btn:hover {
    background-color: #ffffff;
    border-color: #ffffff;
    color: #3DA935;
}

.banner .banner-title {
    text-align: center;
    font-weight: 300;
    color: #ffffff;
    max-width: 1000px;
}

.what-we-do {
    background-color: #f4f4f4;
}

.what-we-do .what-we-do-content {
    max-width: 600px;
    margin: 0 auto;
    position: relative;
    background: #ffffff;
    border-radius: 15px;
    /* border: 1px solid #c8c8c8; */
    background: #ffffff;
    padding: 50px;
    position: relative;
    top: 150px;
    z-index: 9;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
}

.what-we-do-content .btn-play {
    border: 0;
    background: transparent;
    position: absolute;
    top: 50%;
    left: -38px;
    transform: translateY(-50%);
    padding: 0;
    cursor: pointer;
}

.what-we-do-content .btn-play:hover img {
    transform: scale(1.1);
}

.what-we-do-content .btn-play:focus {
    outline: none
}

.what-we-do-content .btn-play img {
    width: 75px;
    height: 75px;
}

.what-we-do .what-we-do-content p {
    font-weight: 600;
}

.how-we-do {
    position: relative;
    background-color: #ececec;
    padding: 250px 0;
}

.how-we-do::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200px;
    background: #f4f4f4 url(../images/grey-bg-begining-Home-Desktop-Website-GC.png) no-repeat;
    background-size: cover;
}

.how-we-do::after {
    position: absolute;
    content: "";
    bottom: -100px;
    left: 0;
    width: 100%;
    height: 200px;
    background: url(../images/grey-bg-end-Home-Desktop-Website-GC.png) no-repeat;
    background-size: cover;
}

.how-we-do .home-products {
    margin-top: 50px;
}

.how-we-do .home-products .home-product {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.how-we-do .home-products .home-product .hover {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.how-we-do .home-products .home-product:hover .hover{
    visibility: visible;
    opacity: 1;
} 
.how-we-do .home-products .home-product.yellow .hover {
    background:rgb(248 186 19 / .8)
}
.how-we-do .home-products .home-product.green .hover {
    background: rgb(128 205 4 / .8);
}
.how-we-do .home-products .home-product.blue .hover {
    background: rgb(0 88 217 / .7);
}
.how-we-do .home-products .home-product.red .hover {
    background:rgb(223 74 30 / .8) ;
}
.how-we-do .home-products .home-product h4 {

    font-size: 16px;
    max-width: 100%;
    margin: 0 auto;
}

.how-we-do .home-product .product-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    padding: 20px;
}
.how-we-do .home-product .product-bottom img{
    max-width: 200px;
    margin-bottom: 5px;
}
.how-we-do .home-product.red .product-bottom img, .how-we-do .home-product.blue .product-bottom img{
    max-width: 130px;
}


.how-we-do .home-products .home-product .hover-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
   
}

.how-does-it-works {
    background: url('../images/phone-parallax-bg-Home-Desktop-Website-GC.png') no-repeat center;
    background-size: cover;
    background-position: bottom;
    /* background-size: 100% auto;
    background-position: top; */
}

.how-does-it-works .how-does-it-works-content {
    max-width: 1000px;
    margin: 0 auto;
}

.how-does-it-works .top {
    position: relative;
    z-index: 9;
    top: -150px;
}

.how-does-it-works .bottom {
    background-color: rgba(61, 169, 53, 0.9);
    color: #ffffff;
    padding: 30px;
    border-radius: 15px;
    position: relative;
    top: 100px;
}

.how-does-it-works .bottom h2.title span:after {
    background: #1c7808;
}

.how-does-it-works .bottom p {
    margin-bottom: 20px;
}

.how-does-it-works .bottom .action {
    text-align: center;
}

.how-does-it-works .bottom .btn {
    background-color: transparent;
    color: #ffffff;
    border-color: #ffffff;
}

.how-does-it-works .bottom .btn:hover {
    background-color: #ffffff;
    border-color: #ffffff;
    color: #3DA935;
}

.how-does-it-works .work-process {
    background-color: #ffffff;
    padding: 50px 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    border-radius: 15px;
    position: relative;
    z-index: 99;
    display: none;
    margin-top: -100px;
}

.how-does-it-works .work-process img {
    max-width: 300px;
    margin: 0 auto;
}

.how-does-it-works .work-process-list {
    margin-top: 30px;
}

.our-partners {
    padding-top: 150px;
}

.our-partners .title-wrapper {
    display: flex;
    margin-bottom: 20px;
    max-width: 1000px;
    margin: 0 auto;
    align-items: center;
}

.our-partners .title-wrapper .title {
    margin-bottom: 0;
}

.our-partners .title-wrapper .title span {
    margin-right: 20px;
    white-space: nowrap;
    height: 100%;
    padding-right: 20px;
}

.our-partners .title-wrapper .title span:after {
    left: auto;
    right: 0;
    height: 115%;
}

.our-partners .title-wrapper p {
    margin-bottom: 0;
}

.our-partners ul {
    list-style: none;
}

.our-partners .partners-list {
    margin: 40px 0;
}

.company-stats {
    background: url(../images/stats-banner.png) no-repeat center;
    background-size: cover;
    padding: 50px 0 150px;
    position: relative;
    z-index: 99;
}

.company-stats .row .col-md-3:first-child .stats-box,
.company-stats .row .col-md-3:nth-child(4) .stats-box {
    padding-top: 50px;
}

.company-stats .stats-box {
    text-align: center;
}

.company-stats .stats-box img {
    margin-bottom: 15px;
}

.company-stats .stats-box {
    font-style: italic;
    font-weight: 600;
    color: rgba(255, 255, 225, .8);
}

.company-stats .stats-box h3 {
    color: #ffffff;
    font-weight: 700;
    margin-bottom: 0;
}

.company-stats .stats-box p {
    margin-bottom: 0;
}

.home-contact {
    position: relative;
    margin-top: -150px;
    padding-top: 200px;
    padding-bottom: 100px;
}

.home-contact:after,
.home-contact::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.home-contact::before {
    background: url(../images/contact-us-green-texture-parallax-Home-Desktop-Website-GC.png) no-repeat;
    background-position: left top;
    background-size: 250px auto;
}

.home-contact:after {
    background: url(../images/contact-us-green-texture-parallax-right-Home-Desktop-Website-GC.png) no-repeat;
    background-position: right bottom;
    background-size: 350px;
}

.home-contact .form-wrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding: 40px 0 0 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    display: flex;
    position: relative;
    z-index: 9999;
    background: #ffff;
}

.home-contact .form-wrapper label {
    color: #808080;
}

.home-contact .form-wrapper .form-control {
    border: 0;
    border-bottom: 1px solid #3DA935;
    border-radius: 0;
    padding-left: 0;
    font-size: 20px;
}

.home-contact .form-wrapper .form-control:focus {
    outline: none;
}

.home-contact .form-wrapper .form-left {
    border-right: 1px solid #3DA935;
    padding: 0 60px 0 30px;
    flex: 0 0 40%;
    max-width: 40%;
}

.home-contact .form-wrapper .form-left .title {
    text-align: left;
}

.home-contact .form-wrapper .form-left .title span {
    padding-bottom: 15px;
}

.home-contact .form-wrapper .form-left .title span:after {
    left: 0;
    top: auto;
    bottom: 0px;
    width: 50px;
    height: 3px;
}

.home-contact .form-wrapper .form-right {
    flex: 0 0 60%;
    max-width: 60%;
}

.home-contact .form-wrapper .form-right .form-group {
    margin-bottom: 0;
    padding-left: 20px
}

.home-contact .form-wrapper .form-right .form-control {
    border-bottom: 0;
}

.home-contact .form-wrapper .form-right .form-control:focus {
    outline: none;
}

.home-contact .form-wrapper .form-right .captcha {
    display: none;
}

.home-contact .form-wrapper .form-right .btn {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    padding: 10px 5px;
}

footer {
    padding: 40px 0;
    background: url('../images/footer-bg-Home-Desktop-Website-GC.png') no-repeat center;
    background-size: cover;
    color: #ffffff;
    font-size: 14px;
}

footer .container {
    max-width: 1000px;
}

footer a {
    color: #ffffff;
}

footer a:hover {
    color: #ffffff;
    text-decoration: none;
}

footer ul {
    list-style-type: none;
    padding: 0;
}

footer .footer-top-left {
    display: flex;
    align-items: center;
}

footer .footer-top-left p,
footer .footer-top-left h4 {
    margin-bottom: 0;
    max-width: 200px;
}

footer .footer-top-left .tel {
    font-size: 16px;
    letter-spacing: 2px;
}

footer .footer-top-left .tel img {
    margin-right: 10px;
}

footer .footer-top-right {
    display: flex;
    justify-content: flex-end;
}

footer .footer-top-right .footer-menu-box {
    padding: 0 15px;
}

footer .social-media ul {
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

footer .social-media ul li {
    margin-right: 10px;
}

footer .social-media ul li:hover img {
    transform: scale(1.1);
}